# LLM Configuration (user-provided)
# Supported LLM Providers: openai, anthropic
LLM_PROVIDER=openai
LLM_API_KEY=-proj-unZyHRGKtHF3IwPPHWjdbUHav5CHhtYiWXwt-eUwMd2MdPNGElyQ1O60WUllIMIIg7tHd1o1_pT3BlbkFJIkN8lFkNRIOfQYmcXzacyg4VzEveiMv9l4qzNdsQ3aN4-UdJs-jfWB16wWHZFBe7VM4HFTs88A
LLM_MODEL=gpt-5.4-nano
LLM_BASE_URL=https://api.openai.com/v1

# For all of the below configurations, please reach out to your Visa representative.

# Visa Developer Platform (VDP) Configuration
# If you are connecting to VDP CERT environment for both VTS and VIC, then these variables will be the same for both services.
# i.e. VTS_BASE_URL = VIC_BASE_URL, VTS_API_KEY = VIC_API_KEY, VTS_SHARED_SECRET = VIC_SHARED_SECRET
VTS_BASE_URL=https://cert.api.visa.com
VTS_API_KEY=unZyHRGKtHF3IwPPHWjdbUHav5CHhtYiWXwt
VTS_SHARED_SECRET=unZyHRGKtHF3IwPPHWjdbUHav5CHhtYiWXwt
VIC_BASE_URL=https://cert.api.visa.com
VIC_API_KEY=unZyHRGKtHF3IwPPHWjdbUHav5CHhtYiWXwt
VIC_SHARED_SECRET=unZyHRGKtHF3IwPPHWjdbUHav5CHhtYiWXwt

# Token Requestor (TR) Configuration
TR_ID=unZyHRGKtHF3IwPPHWjdbUHav5CHhtYiWXwt
TR_CLIENT_ID=unZyHRGKtHF3IwPPHWjdbUHav5CHhtYiWXwt
TR_APP_ID=unZyHRGKtHF3IwPPHWjdbUHav5CHhtYiWXwt
TR_ENC_API_KEY=unZyHRGKtHF3IwPPHWjdbUHav5CHhtYiWXwt
TR_ENC_SHARED_SECRET=unZyHRGKtHF3IwPPHWjdbUHav5CHhtYiWXwt

# Message Level Encryption (MLE) Configuration
MLE_KEY_ID=unZyHRGKtHF3IwPPHWjdbUHav5CHhtYiWXwt
MLE_DEC_KEY=unZyHRGKtHF3IwPPHWjdbUHav5CHhtYiWXwt
MLE_ENC_CERT=unZyHRGKtHF3IwPPHWjdbUHav5CHhtYiWXwt